/* shered styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
     
.btn a button {
    text-decoration: none;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: #005FAC;
    background-color: #FFFFFF;
    padding: 21px 25px;
    border-radius: 5px;
}


/* main styles */

/* section-1 style */

#hero{
    background-image: url(../images/banner/banner3.png);
    width: 1517px;
    height: 794px;
    margin: 0 auto;
}

.content{
    max-width: 525px;
    text-align: right;
    margin-left: 804px;
    padding-top: 216px;

}

.hero-container h1{
    font-size: 65px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 24px;

}

.hero-container p {
    font-size: 14px;
    font-weight: 400;
    /* padding-top: 24px; */
    color: #FFFFFF;
    text-align: right;
    line-height: 26px;
}
.btn{
    padding-top: 32px;
}

/* section-2 style */

#failures {
    padding-top: 145px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 87px;
    max-width: 1031px;
}
#failures .failures-info h2{
    font-size: 35px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 24px;
    max-width: 288px;
}
#failures .failures-info p{
    font-size: 14px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
    max-width: 416px;
}
#failures .failures-info ul li{
    list-style: none;
    
}
#failures .failures-info li{
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
    max-width: 300px;
    
}
.failures-info li i{
    color: #16D887;
    padding-right: 15px;
}
#plan{
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 130px;
}
#plan h1 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #151414;
    
}
.my-plan {
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.plan-card img {
    width: 93px;
    padding-top: 50px;
    padding: 0 auto;
}
.plan-card h4 {
    font-size: 25px;
    font-weight: bold;
    color: #151414;
    padding-top: 18px;
    padding-bottom: 16px;

}
.plan-card p {
    font-size: 17px;
    font-weight: 500;
    color: #737272;

}
#banner{
    max-width: 1141px;
    height: 300px;
    background-image: url(../images/gradient1.png), url(../images/watch.png);
    margin: 0 auto;
    margin-top: 130px;
}
.banner-content,
.btn h2 {
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 59px;
    padding-left: 65px;
    width: 456px;
}
footer {
    max-width: 1517px;
    background-color: #151414;
    height: 577px;
    margin: 0 auto;
    margin-top: 130px;
}
#footer-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 270px;
    
}
.social {
    color: #FFFFFF;
    width: 484px;
    padding-top: 130px;
}
.social h5 {
    font-size: 45px;
    font-weight: bold;
    color: #FFFFFF;
}
.info {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 16px;
} 
.eml_phn {
    margin-top: 8px;
    margin-bottom: 30px;
}
.socal_logo img {
    width: 47px;
    margin-right: 15px;
}
legend {
    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 30px;

}
input {
    padding: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background-color: #151414;
    
    margin-bottom: 50px;
    width: 325px;
    height: 65px;
    color: #FFFFFF;
}
input::placeholder {
    font-size: ;
    color: #FFFFFF;
}
.buton a {
    color: white;
    background-color: #005FAC;
    padding: 20px 35px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 245px;
}



